<%= render 'pages/dashboardnav'%>
<div class="container">
  <div class="form-container">
    <h1>Editing Component</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @component %> |
    <%= link_to 'Back', components_path %>
  </div>
</div>
