<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.email %>,</p>
    <p>You now have access to the LimbForge App!</p>
    </br>
    <p>Visit <%= ActionMailer::Base.default_url_options[:host] %> to get started</p>
    </br>
    <p>Happy <%= DateTime.current.strftime('%A') %>,</p>
    <p>LimbForge.org </p>
  </body>
</html>
