<div class="container">
  <div class="form-container">
    <h1>Editing Device</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @device %> |
    <%= link_to 'Back', devices_path %>
  </div>
</div>
