<%= render 'pages/dashboardnav'%>
<div class="container form-padding">
  <h1>Editing Amputation Level</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @amputation_level %> |
  <%= link_to 'Back', amputation_levels_path %>
</div>
