<%= render 'pages/dashboardnav'%>
<div class="container form-padding">
  <div class="form-container">
    <h1>New Amputation Level</h1>
    <%= render 'form' %>
    <%= link_to 'Back', amputation_levels_path %>
  </div>
</div>
