<h1>LIMBFORGE</h1>
<form id="limbforge-form">
  <div class="row">
    <div class="col-xs-12">
      <p class="label">Patient Name</p>
    </div>
  </div>
  <div class="row">
    <div class="fname col-xs-6">
      <p class="label nested-label">First</p>
      <input id="fname" type="text" placeholder="Max" name="name"><br>
    </div>
    <div class="lname col-xs-6">
      <p class="label nested-label">Last</p>
      <input id="lname" type="text" placeholder="Hova" name="name"><br>
    </div>
  </div>

  <div class="levels">
    <p class="label">Level of Limb Difference</p>
  <div class="handedness">
    <p class="label">Hand</p>
    <select id="handedness-selector">
      <option value="right">Right</option>
      <option value="left">Left</option>
    </select>
  </div>
  <p class="label">Model</p>
  <select id="design-selector">
    <option value="EbeArm">ebearm</option>
  </select>
  <p class="label">Sizing Measurements <span class="modal-toggle" data-toggle="modal" data-target="#measurementModal">?</span></p>
  <div class="row">
    <div class="measurement-1 col-xs-6">
      <p class="label nested-label">Sound Limb</p>
      <p class="label nested-label">L1 <em>(cm)</em></p>
      <input id="L1"  type="number" min="22" max="30" step='0.5' placeholder="22.0" name="l1"><br>
    </div>
    <div class="measurement-2 col-xs-6">
      <p class="label nested-label">Residual Limb</p>
      <p class="label nested-label">C4 <em>(cm)</em></p>
      <input id="C4"  type="number" min="20" max="30" step='0.5' placeholder="20.0" name="c4"><br>
    </div>
  </div>
  <div id="limbforge-submit">Download</div>
</form>
