<div id="access">
  <div id="access-container">
    <h1>Thanks for requesting access! We will get back to you asap.</h1>
    </br>
    </br>
    <a href='<%= destroy_user_session_path%>' data-method="delete"> sign out </a>
  </div>
</div>
