<%= render partial: "layouts/topnav" %>
<div id="hero">
  <h1> LIMBFORGE</h1>
  <p>3D printable hand customizer</p>
  <a href="<%= limbforge_path %>">
    <button class="cta">Make a hand</button>
  </a>
</div>
<div class="area container">
  <h1>Mission</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet, urna quis mollis eleifend, magna risus feugiat ante, non varius felis risus at turpis. Phasellus nec nulla eleifend, ornare diam sit amet, lacinia purus. Cras tempus condimentum velit, in lobortis justo convallis a. Vestibulum mi nulla, rutrum vehicula nunc in, maximus rutrum ligula. Nunc sed est sed enim elementum molestie sit amet porta erat. Proin dapibus ullamcorper molestie. Nulla magna felis, elementum ultrices sem id, vestibulum tincidunt massa. Nulla at urna tortor. Phasellus id pulvinar ipsum, non hendrerit ligula. Cras vulputate felis eu varius interdum. Morbi a orci laoreet orci volutpat feugiat.</p>
</div>
