<div id="hero">
  <h1> LIMBFORGE</h1>
  <p>3D printable hand customizer</p>
  <a href="<%= limbforge_path %>">
    <button class="cta">Make a hand</button>
  </a>
</div>
<div class="area container">
  <h1>Mission</h1>
  <p>Welcome to LimbForge!  LimbForge is a tool for the rapid sizing and customization of 3D printable assistive devices and prosthetics.  Users can configure detailed parametric models by inputing specific measurements to produce consistent, high quality, well-fitting devices.  LimbForge is under active development and will offer an ever expanding number of options for limb differences.  Check back frequently for updates!</p>
</div>
