<p id="notice"><%= notice %></p>
<div id="landing-page">
  <h1> LIMBFORGE</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo odio, imperdiet sit amet sodales ut, mollis ac lorem. Phasellus eu aliquet sapien. Curabitur ornare augue hendrerit nunc sollicitudin efficitur. Ut consectetur facilisis commodo. Ut pharetra risus eu nibh interdum, non mollis leo varius. Proin id rutrum turpis, ac posuere lectus. Etiam scelerisque risus ac eros egestas consectetur. In accumsan velit vitae eros mollis posuere.</p>
</div>
