<%= react_component 'LimbforgeForm',
  {
    logo_img: asset_path("brand/logo.svg"),
    images: {
      diagram_male_transradial_L: asset_path("limbforge/male-transradial-L.svg"),
      diagram_male_transradial_R: asset_path("limbforge/male-transradial-R.svg"),
      diagram_male_transhumeral_L: asset_path("limbforge/male-transhumeral-L.svg"),
      diagram_male_transhumeral_R: asset_path("limbforge/male-transhumeral-R.svg"),
      diagram_female_transradial_L: asset_path("limbforge/female-transradial-L.svg"),
      diagram_female_transradial_R: asset_path("limbforge/female-transradial-R.svg"),
      diagram_female_transhumeral_L: asset_path("limbforge/female-transhumeral-L.svg"),
      diagram_female_transhumeral_R: asset_path("limbforge/female-transhumeral-R.svg")
    },
    levels: AmputationLevel.all ,
    components_search_path: search_components_path,
    tds_search_path: search_tds_path,
    measurements_search_path: search_measurements_path,
    man_diagram: asset_path("limbforge/man.svg"),
    woman_diagram: asset_path("limbforge/woman.svg")
  }
%>

<div id="display-hand"></div>

<div id="limbforge-links">
  <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd7jnjVV9gu4BlkiLRc86XAT-kDcJJNXdTm-EHzUSVH8vONdA/viewform">
    <button id="input" type="button">Have Feedback?</button>
  </a>
</div>
