<div id="access">
  <div id="access-container">
    <h1>Limbforge is currently in version beta.</h1>
    </br>
    </br>
    <a href='<%= access_requested_path %>'> Request Access </a>
    <a href='<%= destroy_user_session_path%>' data-method="delete"> sign out </a>
  </div>
</div>
