<%= render 'pages/dashboardnav'%>
<div class="container form-padding">
  <div class="form-container">
    <h1>Editing Terminal Device</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @terminal_device %> |
    <%= link_to 'Back', terminal_devices_path %>
  </div>
</div>
