<%= render 'pages/dashboardnav'%>
<div class="container form-padding">
  <div class="form-container">
    <h1>Editing Measurement</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @measurement %> |
    <%= link_to 'Back', measurements_path %>
  </div>
</div>
