@import "styleguide-variables";

#dashboard-nav{
  background-color: $regular-gray;
  ul{
    padding-left: 0;
    text-align: right;
    margin-bottom: 0;
    li{
      background-color: $regular-gray;
      color: $white;
      padding: $standard-padding/2;
      display: inline-block;
      a{
        color: $white;
        letter-spacing: 2px;
      }
    }
  }
}
