@import "styleguide-variables";

#title{
  margin: 0;
}

#date{
  .month-input{
    border-left: 0;
    border-right: 0;
  }
}

#AmputationLevel{
  button{
    margin-top: $standard-padding/3;
    font-family: $button-font-family;
    font-weight: bold;
    font-size: $mobile-font-size;
    letter-spacing: 0px;
    width: auto;
  }
  .label{
    margin-top: $standard-padding/2;
    margin-bottom: $standard-padding*-1;
  }
  circle{
    &:hover{
      & + rect {
        fill: $hover-blue;
      }
    }
  }
  rect{
    transition: .5s;
    &:hover{
      fill: $hover-blue;
    }
  }
}

.loading-gif{
  width: $standard-padding;
  position: absolute;
  left: 400px;
  top: 7px;
}

#limbforge-links{
  position: absolute;
  color: $white;
  bottom: 0;
  width: 100%;
  background-color: $black;
  z-index: 1;
  button{
    float: right;
    color: $white;
    font-family: $base-h-font-family;
    font-weight: 600;
    background-color: $blue;
    margin-top: 0;
    width: auto;
  }
}

#sides{
  margin: 0;
  margin-top: $standard-padding;
  .label{
    padding-left: 0;
    margin-top: 0;
  }
}

.selected-level{
  color: $blue;
  margin-top: $standard-padding/1.5;
  font-size: $input-and-label-size;
}

.outer-drag-container-arrow{
  background-image: url(asset_path('limbforge/white-arrow.svg'));
  background-size: $standard-padding/1.5;
  background-repeat: no-repeat;
  background-position: center;
}

.device{
  border: 1px solid $border;
  cursor: pointer;
  margin-bottom: $standard-padding/2;
  .description{
    padding-top: $standard-padding/3;
  }
  .device-img{
    margin-right: $standard-padding/3;
    width: 73px;
    height: 73px;
    float: left;
    background-size: cover;
  }
  p{
    line-height: 20px;
    font-size: $standard-padding/2;
  }
  h2{
    font-size: 25px;
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: $standard-padding/2;
    display: block !important;
  }
  .meta{
    padding: 0 $standard-padding/2 $standard-padding/2 $standard-padding/2;
    p{
      line-height: 18px;
      font-size: $input-and-label-size;
    }
  }
  .show-more{
    margin-bottom: $standard-padding/6;
    font-size: $input-and-label-size;
    cursor: pointer;
    span{
      &.down{
        background-image: url(asset_path('limbforge/dropdown.svg'));
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        top: 5px;
      }
      &.up{
        background-image: url(asset_path('limbforge/dropdown.svg'));
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        top: 5px;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }
  }
}

#components-list{
  .tab-padding{
    padding: 0 52px;
  }
}

#download-area{
  label{
    display: block;
    &:first-of-type{
      margin-top: $standard-padding/3;
    }
    input {
      display: none;/* <-- hide the default checkbox */
    }
    span {/* <-- style the artificial checkbox */
      height: $standard-padding;
      width: $standard-padding;
      border: 1px solid $black;
      display: inline-block;
      position: relative;
      top: 8px;
      margin-right: $standard-padding/2;
    }
  }
  [type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
    content: '\2715';
    position: absolute;
    top: -4px;
    left: 4px;
    font-size: 25px;
  }

  p{
    position: relative;
    top: $standard-padding/-6;
  }
}

#gender-select{
  text-align: center;
  label > input{
  visibility: hidden;
  position: absolute;
  }
  label > p{
    font-weight: 500;
    text-transform: none;
  }
  label > input + img{
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{
  }
}

.wrist-title{
  margin-left: $standard-padding;
  margin-top: -27px;
  font-size: $mobile-p-font-size;
}
