@import "styleguide-variables";

#title{
  margin: 0;
}

#limbforge-links{
  position: absolute;
  color: $white;
  bottom: 0;
  width: 100%;
  background-color: $moonbeam-dark;
  z-index: 1;
  button{
    float: right;
    color: $moonbeam-dark;
    font-family: $base-h-font-family;
    font-weight: 600;
    background-color: $ocean-regular;
  }
}

#gender-select{
  text-align: center;
  margin-bottom: $standard-padding;
  label > input{
  visibility: hidden;
  position: absolute;
  }
  label > input + img{
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{
    border: 3px solid $blue;
    border: 3px solid $black;
    background-color: $blue;
  }
}
