@import "styleguide-variables";
#pages{
  &.index{
    #hero{
      background-image: url(asset_path("pages/home/hero.jpg"));
    }
  }
}
#display-hand{
  height: 100vh;
  position:fixed;
  z-index: 1;
}

.tab-padding{
  padding: 0 36px;
}

#limbforge{
  webkit-transform: translateZ(0);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background-color: $white;
  width: 600px;
  padding: $standard-padding/2;
  position:  fixed;
  z-index: 2;
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
  .fname{
    padding-right: 0;
    input{
      border-right: 0;
    }
  }
  .note{
    padding-top: $standard-padding;
    font-size: 16px;
    font-style: italic;
    font-weight: 800;
  }
  .modal-content{
    z-index: 9999;
  }
  .lname{
    padding-left: 0;
  }
  .accordion-head{
    cursor: pointer;
    padding-top: $standard-padding;
    &.active{
      .arrow{
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
      }
    }
    h2{
      display: inline;
      font-size: 20px;
      background-color: $white;
      padding-right: $standard-padding/2;
      padding-left: $standard-padding/3;
      position: relative;
      top: $standard-padding/6;
      position: relative;
      z-index: -1;
    }
    span{
      &.arrow{
        background-image: url(asset_path("limbforge/dropdown.svg"));
        width: 25px;
        float: left;
        height: 25px;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: $standard-padding/6;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
      }
    }
  }
  img{
    max-width: 350px;
    display: block;
    margin: 0 auto;
    &.documentation{
      cursor: pointer;
      padding: 0 $standard-padding/2 $standard-padding/2;
      margin-bottom: -50px;
      height: 440px;
    }
    &.logo{
      max-width: 27px;
      float: left;
      margin-right: 10px;
      margin-top: 7px;
    }
  }
  #limbforge-submit{
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: $blue;
    color: $white;
    margin-top: $standard-padding;
    border: none;
    padding: $standard-padding - 10;
    letter-spacing: $base-letter-spacing;
  }
}
.td-area{
  margin-top: -140px;
  @media (max-width: $screen-sm-max) {
    margin-top: 0px;
  }
}

#devise{
  background-color: $black;
  color: $white;
  &.hova{
    .form-container{
      background-color: #161a21;

    }
  }
  .blue-txt{
    color: $blue;
    font-size: $mobile-p-font-size;
    margin-bottom: 0;
    margin-top: $standard-padding/-3;
    border: none;
    box-shadow: none;
    &:hover{
      background: transparent;
      color: $white;
    }
    &.home{
      float: left;
    }
    &.new-account{
      float: right;
    }
    &.password-reset{
      text-align: center;
      margin-bottom: $standard-padding/-3;
    }
  }
  img{
    max-width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
  }
  input{
    margin-bottom: $standard-padding/1.5;
    color: $black;
    font-size: $mobile-p-font-size;
    font-weight: 300;
    &[type="submit"]{
      color: $white;
      font-weight: 300;
      text-transform: none;
      font-size: $mobile-p-font-size;
      max-width: 120px;
      display: block;
      margin: 0 auto;
      margin-bottom: $standard-padding/1.5;
      &.password-reset{
        max-width: 100%;
      }
    }
  }
  .form-container{
    border: 2px solid $white;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    padding: $standard-padding/1.5;
    &.center{
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      &.login{
        height: 375px;
      }
      &.signup{
        height: 455px;
      }
      &.password{
        height: 285px;
      }
      &.password-reset{
        height: 345px;
        input[type="submit"]{
          max-width: 100%;
        }
      }
    }
  }
  .header{
    font-size: $base-h-font-size;
    font-family: $base-font-family;
    text-align: center;
    font-weight: 100;
    padding-top: $standard-padding/6;
  }
}

#access{
  color: $white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    letter-spacing: 2px;
    background-color: $blue;
    color: $white;
    padding: $standard-padding/3;
    margin: $standard-padding/3;
  }
  h1{
    font-size: 5vw;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
}
