@import "styleguide-variables";
#pages{
  &.index{
    #hero{
      background-image: url(asset_path("pages/home/hero.jpg"));
    }
  }
}
#display-hand{
  height: 100vh;
  position:fixed;
  z-index: 1;
}

#limbforge{
  webkit-transform: translateZ(0);
  overflow-y: scroll;
  height: 100vh;
  background-color: #f5f5f5;
  max-width: 350px;
  padding: $standard-padding/2;
  position:  fixed;
  z-index: 2;
  .fname{
    padding-right: 0;
    input{
      border-right: 0;
    }
  }
  .modal-content{
    z-index: 9999;
  }
  .lname{
    padding-left: 0;
  }
  img{
    width: 100%;
    &.documentation{
      cursor: pointer;
      padding: 0 $standard-padding/2 $standard-padding/2;
    }
    &.logo{
      max-width: 27px;
      float: left;
      margin-right: 10px;
      margin-top: 7px;
    }
  }
  #limbforge-submit{
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: $camero-dark;
    color: $white;
    margin-top: $standard-padding;
    border: none;
    padding: $standard-padding - 10;
    letter-spacing: $base-letter-spacing;
  }
}
