@import "styleguide-variables";
#pages{
  &.index{
    #hero{
      background-image: url(asset_path("pages/home/hero.jpg"));
    }
  }
}
#display-hand{
  height: 100vh;
  position:fixed;
  z-index: 1;
}

.tab-padding{
  padding: 0 $standard-padding;
}

#limbforge{
  webkit-transform: translateZ(0);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background-color: $white;
  width: 380px;
  padding: $standard-padding/2;
  position:  fixed;
  z-index: 2;
  .fname{
    padding-right: 0;
    input{
      border-right: 0;
    }
  }
  .note{
    padding-top: $standard-padding;
  }
  .modal-content{
    z-index: 9999;
  }
  .lname{
    padding-left: 0;
  }
  .accordion-head{
    cursor: pointer;
    padding-top: $standard-padding;
    &.active{
      .arrow{
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
      }
    }
    h2{
      display: inline;
      font-size: 20px;
      background-color: $white;
      padding-right: $standard-padding/2;
      padding-left: $standard-padding/3;
      position: relative;
      top: $standard-padding/6;
      position: relative;
      z-index: -1;
    }
    span{
      &.arrow{
        background-image: url(asset_path("limbforge/dropdown.svg"));
        width: 25px;
        float: left;
        height: 25px;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: $standard-padding/6;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
      }
    }
  }
  img{
    width: 100%;
    &.documentation{
      cursor: pointer;
      padding: 0 $standard-padding/2 $standard-padding/2;
      margin-bottom: -50px;
    }
    &.logo{
      max-width: 27px;
      float: left;
      margin-right: 10px;
      margin-top: 7px;
    }
  }
  #limbforge-submit{
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: $camero-regular;
    color: $white;
    margin-top: $standard-padding;
    border: none;
    padding: $standard-padding - 10;
    letter-spacing: $base-letter-spacing;
  }
}

#landing-page{
  display: flex;
  justify-content: center;
  align-items: center;
  .content-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: $standard-padding*2 $standard-padding;
    h1{
      color: $blue;
      font-family: $base-h-font-family;
      font-size: 100px;
      font-weight: bold;
      @media (max-width: $screen-md-min) {
        font-size: 11vw;
      }
      span{
        &.forge{
          color: $gray;
        }
        &.project{
          font-size: 50px;
          font-weight: 500;
          @media (max-width: $screen-md-min) {
            font-size: 5vw;
          }
        }
      }
    }
    p{
      color: $white;
      font-family: $base-font-family;
      text-align: justify;
      max-width: 700px;
      font-weight: 200;
      font-size: 18px;
      display: block;
      margin: 0 auto;
    }
    img{
      width: $standard-padding*3;
      margin: $standard-padding 0;
    }
    .limbforge-link{
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
  }
  #mailing-list{
    p{
      text-align: center;
      color: $white;
      font-style: italic;
      &.powered-by{
        color: $white;
        margin-top: $standard-padding;
        a{
          color: $white;
          font-weight: bold;
          border-bottom: 0;
          box-shadow: none;
        }
      }
    }
    label{
      padding-top: $standard-padding/2;
      color: $white;
    }
    input{
      max-width: $standard-padding*10;
      display: block;
      margin: 0 auto;
      -webkit-appearance: none;
      background-color: black;
      border-bottom: 1px solid $white;
      text-align: center;
      font-size: 16px;
      color: $white;
      &[type=email]{
        &:focus{
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $black;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $black;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $black;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $black;
          }
        }
      }
      &[type=submit]{
        background-color: transparent;
        border-bottom: 0px;
        margin-top: $standard-padding;
        border: 1px solid $white;
        padding: $standard-padding/3;
        width:  $standard-padding*4;
      }
    }
  }
}
