//COLORS:

//official working colors
$blue:            #207fd3;
$gray:            #b3b4b4;

//other colors
$white:           #ffffff;
$off-white:       #f3f3f3;
$dark-gray:       #1c1d22;
$regular-gray:    #2a2b30;
$light-gray:      #e3e4e5;
$red:             #df3f3f;
$green:           #299665;

$black:           #000000;

//alert background-colors
$alert-blue:            rgba(21,120,181,.8);

//MARGIN & PADDING
$standard-padding: 30px;
$area-padding: $standard-padding*2 $standard-padding;

//FONTS
$base-font-color:         $dark-gray;
$base-line-height:        $standard-padding;
$base-letter-spacing:     $standard-padding/10;
//headers
$base-h-font-family:    "din-2014";
$base-h-letter-spacing: $standard-padding/30;
$base-h-font-size:      20px;
//paragraphs
$base-font-family:      "AvenirNext-Regular";
$base-p-font-size:      18px;
$base-p-letter-spacing: $standard-padding/30;
$mobile-p-font-size:    16px;


// BREAKPOINTS
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
