@import "styleguide-variables";

//BASE STYLES
html{
  color: $base-font-color;
  p{
    font-family: $base-font-family;
    font-size: $base-p-font-size;
    letter-spacing: $base-p-letter-spacing;
    line-height: $base-line-height;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: $base-h-font-family;
    letter-spacing: $base-h-letter-spacing;
  }
}

//BUTTON STYLES

button{
  border: 0;
  padding: $standard-padding/1.5 $standard-padding*1.5;
  letter-spacing: $base-letter-spacing;
  &.cta{
    background-color: $camero-dark;
    border-bottom: $standard-padding/3 solid $camero-darker;
  }
}

//HERO STYLES
#hero{
  background-image: url(asset_path("pages/home/hero.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: $standard-padding*4 $standard-padding;
  color: $white;
  button{
    margin-top: $standard-padding;
  }
  h1{
    font-size: $standard-padding*3;
    letter-spacing: $standard-padding/2;
    @media (max-width: $screen-sm-max) {
      font-size: $standard-padding;
    }
  }
  p{
    letter-spacing: $standard-padding/10;
  }
}

//TOP NAV
#top-nav{
  position: absolute;
  width: 100%;
  img{
    &.logo{
      max-width: $standard-padding*2;
      position: relative;
      top: $standard-padding/2;
      float: left;
    }
  }
  ul{
    float: right;
    li{
      font-family: $base-font-family;
      font-size: $base-p-font-size;
      letter-spacing: $base-letter-spacing;
      display: inline-block;
      padding: $standard-padding $standard-padding/2;
      color: $white;
    }
  }
}

//FOOTER
footer{
  background-color: $moonbeam-dark;
  height: $standard-padding*2;
}
#lower-footer{
  color: $moonbeam-light;
  background-color: $moonbeam-regular;
  text-align: center;
  padding: $standard-padding;
  p{
    line-height: $standard-padding;
    margin: 0;
    padding: 0;
    &.ecf{
      font-size: $standard-padding/1.5;
    }
  }
}
