@import "styleguide-variables";

//AREA STYLES
.area{
  padding:$area-padding;
  h1{
    text-align: center;
    margin-top: 0;
  }
  p{
    margin-bottom: 0;
  }
}

.no-padding{
  padding: 0;
}

body{
  background-color: $white;
  &#devise{
    background-color: $black;
  }
  &#sessions{
    background-color: $black;
  }
  &.new{
    background-color: $black;
  }
}

//LINKS

a{
  border-bottom: 3px solid $blue;
  box-shadow: inset 0 -2px 0 $blue;
  color: $base-font-color;
  &:hover{
    color: $base-font-color;
    background-color: $blue;
  }
}

//BASE STYLES
html{
  background-color: $black;
  color: $white;
  font-family: $base-font-family;
  p{
    font-family: $base-font-family;
    font-size: $base-p-font-size;
    letter-spacing: $base-p-letter-spacing;
    line-height: $base-line-height;
    .link{
      color: $white;
      background-color: $blue;
      border-bottom: 0px;
      box-shadow: none;
      padding: $standard-padding/6;
      float: right;
      position: relative;
      top: $standard-padding/-10;
      margin-left: $standard-padding/2;
      &.index{
        float: none;
        width: 32%;
        display: inline-block;
        margin: 0;
        text-align: center;
      }
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  h1,h2,h3,h4,h5,h6{
    font-family: $base-font-family;
    letter-spacing: $base-h-letter-spacing;
  }
  body{
    &#pages{
      &.index{
        margin-top: 0;
      }
      &.limbforge{
        margin-top: 0;
        footer{
          display: none;
        }
        .lower-footer{
          display: none;
        }
      }
    }
  }
}

//ERRORS
#error_explanation{
  padding: 0 $standard-padding;
}

//BUTTON STYLES
button{
  border: 0;
  color: $white;
  font-weight: bold;
  background: $blue;
  margin-top: $standard-padding;
  padding: 12px $standard-padding/1.5;
  width: 100%;
  letter-spacing: $base-letter-spacing;
  &.cta{
    background-color: $blue;
  }
  &.close{
    float: right;
    width: 50px;
  }
}

//FOOTER
footer{
  padding: $standard-padding*2 0;
  ul{
    display: block;
    margin: 0 auto;
    max-width: 340px;
    padding-left: 0;
    li {
      display: inline-block;
    }
  }
  .circle{
    background-color: $blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 $standard-padding;
  }
}
#lower-footer{
  color: $light-gray;
  text-align: center;
  padding: $standard-padding;
  p{
    line-height: $standard-padding/1.5;
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    font-size: $standard-padding/2.5;
    &.ecf{
      font-size: $standard-padding/2;
    }
  }
}

//FORM STYLES
p{
  &.label{
    color: $base-font-color;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: $standard-padding/2 0 $standard-padding/3;
    margin: 0;
    &.measurements{
      padding: $standard-padding/2;
    }
  }
  &.nested-label{
    padding: 0;
    margin-top: $standard-padding/2;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    &.c{
      background-color: $blue;
      color: $white;
      padding: 7px;
      width: $standard-padding;
      text-align: center;
      border-radius: 100%;
      margin-bottom: -40px;
    }
    &.l{
      color: $white;
      background-image: url(asset_path('limbforge/triangle.svg'));
      background-repeat: no-repeat;
      width: 62px;
      height: 3px;
      background-position: 7px 5px;
      text-align: center;
      padding: 24px;
      margin-left: -8px;
      margin-top: 0px;
      margin-bottom: -40px;
    }
    &.measurement-icon{
      display: none;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }
}

.measurement-container{
  padding-left: 55px;
  input{
   padding: $standard-padding/6;
   max-width: 80px;
   position: relative;
   font-size: 16px;
   height: 34px;
   @media (max-width: $screen-xs-max) {
     top: auto !important;
     right: auto !important;
     left: auto !important;
   }
   &#C1{
     &.left{
       &.Transradial{
         top: -94px;
         right: 46px;
       }
       &.Transhumeral{
         top: -83px;
         right: -188px;
       }
     }
     &.right{
       &.Transradial{
         top: -100px;
         right: -360px;
       }
       &.Transhumeral{
         top: -82px;
         right: -132px;
       }
     }
   }
   &#C2{
     &.left{
       &.Transradial{
         top: -168px;
         left: -45px;
       }
       &.Transhumeral{
         top: -155px;
         right: -187px;
       }
     }
     &.right{
       &.Transradial{
         top: -249px;
         right: -360px;
       }
       &.Transhumeral{
         top: -155px;
         right: -132px;
       }
     }
   }
   &#C3{
     &.left{
       &.Transradial{
         top: -243px;
         left: -46px;
       }
       &.Transhumeral{
         top: -227px;
         left: 186px;
       }
     }
     &.right{
       &.Transradial{
         top: -208px;
         left: 360px;
       }
       &.Transhumeral{
         top: -227px;
         left: 132px;
       }
     }
   }
   &#C4{
     &.left{
       &.Transradial{
         top: -256px;
         right: -364px;
       }
       &.Transhumeral{
         top: -290px;
         right: 32px;
       }
     }
     &.right{
       &.Transradial{
         right: 41px;
         top: -257px;
       }
       &.Transhumeral{
         top: -289px;
         right: -353px;
       }
     }
   }
   &#C5{
     &.left{
       &.Transhumeral{
         top: -363px;
         left: -32px;
       }
     }
     &.right{
       &.Transhumeral{
         top: -366px;
         left: 352px;
       }
     }
   }
   &#C6{
     &.left{
       &.Transhumeral{
         top: -443px;
         left: -32px;
       }
     }
     &.right{
       &.Transhumeral{
         top: -445px;
         left: 352px;
       }
     }
   }
   &#C7{
     &.left{
       &.Transhumeral{
         top: -439px;
         right: -336px;
       }
     }
     &.right{
       &.Transhumeral{
         top: -439px;
         right: 23px;
       }
     }
   }
   &#L1{
     &.left{
       &.Transradial{
         top: -90px;
         left: -133px;
       }
       &.Transhumeral{
         top: -122px;
         left: -295px;
       }
     }
     &.right{
       &.Transradial{
         left: -77px;
         top: -97px;
       }
       &.Transhumeral{
         top: -122px;
         left: 88px;
       }
     }
   }
   &#L2{
     &.left{
       &.Transradial{
         top: -209px;
         right: 97px;
       }
       &.Transhumeral{
         top: -230px;
         right: 79px;
       }
     }
     &.right{
       &.Transradial{
         top: -212px;
         right: 114px;
       }
       &.Transhumeral{
         top: -231px;
         right: 132px;
       }
     }
   }
   &#L3{
     &.left{
       &.Transhumeral{
         top: -345px;
         right: 121px;
       }
     }
     &.right{
       &.Transhumeral{
         top: -362px;
         right: 44px;
       }
     }
   }
   &#L4{
     &.left{
       &.Transhumeral{
         top: -388px;
         right: 3px;
       }
     }
     &.right{
       &.Transhumeral{
         top: -394px;
         right: 156px;
       }
     }
   }
  }
}

label{
  text-transform: uppercase;
  letter-spacing: 1px;
}

input{
  border: 1px solid $dark-gray;
  border-radius: 0;
  letter-spacing: 2px;
  padding: $standard-padding/3;
  width: 100%;
  &:focus{
    outline: none;
  }
  &{
    line-height: 22px !important;
  }
  &[type=submit] {
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: $standard-padding;
    border: none;
    padding: $standard-padding/3 $standard-padding/1.5;
    letter-spacing: $base-letter-spacing;
    background-size: 27px;
    background-repeat: no-repeat;
    background-position: center;
    &.download{
      background-color: $regular-gray;
    }
  }
}

textarea{
  -webkit-appearance: none;
  resize: none;
  width: 100%;
  outline: none;
  height: 200px;
  border: 1px solid $dark-gray;
}

select{
  width: 100%;
  outline: none;
  text-transform: capitalize;
  font-family: $base-font-family;
  background-color: $white;
  background-repeat: no-repeat;
  padding: $standard-padding/3;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid $dark-gray;
  background-image: url(asset_path("limbforge/dropdown.svg"));
  background-size: 30px;
  background-position: 98%;
  margin-bottom: $standard-padding/2;
}

//HERO STYLES
#hero{
  background-image: url(asset_path("pages/home/hero.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: $standard-padding*4 $standard-padding $standard-padding*2;
  color: $white;
  a{
    color: $white;
  }
  button{
    margin-top: $standard-padding/2;
  }
  h1{
    font-size: $standard-padding*4;
    font-weight: bold;
    letter-spacing: $standard-padding/2;
    @media (max-width: $screen-sm-max) {
      font-size: $standard-padding*3;
    }
    @media (max-width: $screen-xs-max) {
      font-size: $standard-padding*1.2;
    }
  }
  p{
    font-family: $base-font-family;
    letter-spacing: $standard-padding/10;
    font-size: $standard-padding;
    margin-top: $standard-padding/2 * -1;
    @media (max-width: $screen-sm-max) {
      font-size: $standard-padding/2;
    }
  }
}

//MODAL STYLES

.modal{
  img{
    width: 100%;
  }
}

.modal-toggle{
  cursor: pointer;
}

//TOP NAV
#top-nav{
  position: absolute;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  &.pageslimbforge{
    display: none;
  }
  &.pagesindex{
    background: none;
    box-shadow: none;
    a{
      color: $white;
    }
    li{
      color: $white;
    }
  }
  a{
    color: $dark-gray;
    border-bottom: 0px;
    box-shadow:  none;
    @media (max-width: $screen-xs-max) {
      font-size: 15px;
    }
    &:hover{
      background: none;
      text-decoration: none;
      color: $blue;
      text-decoration: none;
    }
  }
  img{
    &.logo{
      max-width: 50px;
      position: relative;
      fill: $blue;
      top: $standard-padding/2;
      float: left;
      left: $standard-padding/2;
    }
  }
  ul{
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    li{
      font-size: $base-p-font-size;
      letter-spacing: $base-letter-spacing;
      display: inline-block;
      padding: $standard-padding $standard-padding/2;
      color: $base-font-color;
      @media (max-width: $screen-xs-max) {
        padding: $standard-padding $standard-padding/5;
      }
    }
  }
}
