<%= render 'pages/dashboardnav'%>
<div class="container form-padding">
  <h1>Editing Component Type</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @component_type %> |
  <%= link_to 'Back', component_types_path %>
</div>
