<footer>
  <ul>
    <li><div class="circle"></div></li>
    <li><div class="circle"></div></li>
    <li><div class="circle"></div></li>
  </ul>

</footer>
<div id="lower-footer">
  <p>Powered by:</p>
  <p class="ecf">Enable Community Foundation</p>
</div>
