<div id="top-nav" class="<%= params[:controller] + params[:action] %>">
  <div class="container">
    <img class="logo" src="<%= asset_path("brand/logo.svg") %>">
    <ul>
      <li>Contact us</li>
      <% if user_signed_in?%>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   </li>
      <% else %>
        <li><%= link_to('signin', new_user_session_path) %>   </li>
      <% end %>
    </ul>
  </div>
</div>
